.notFoundContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFoundImg {
  width: 269px;
  height: 297px;
  top: 235px;
  left: 586px;
}

@media (max-width: 768px) {
  .notFoundImg {
    width: 157px;
    height: 173px;
    top: 134px;
    left: 112px;
    opacity: 1;
  }
}

.heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .heading {
    font-size: 20px;
    line-height: 32px;
  }
}

.notFoudDescription {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: #989898;
}

@media (max-width: 768px) {
  .notFoudDescription {
    font-size: 16px;
    line-height: 24px;
  }
}

.homePageBtn {
  width: 141px;
  height: 48px;
  gap: 8px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  background-color: #4094ef;
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .homePageBtn {
    width: 114px;
    height: 32px;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    font-size: 12px;
    line-height: 16px;
  }
}
