.loginPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .loginPageContainer {
    flex-direction: column;
  }
}

.websiteLoginImg {
  max-width: 582px;
  max-height: 373px;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .websiteLoginImg {
    display: none;
  }
}

.loginFormContainer {
  max-width: 456px;
  max-height: 458px;
  border-radius: 8px;
  background-color: #fefeff;
  box-shadow: 0px 8px 40px 0px #07070714;
  padding: 48px;
  padding-top: 60px;
  margin-left: 82px;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-shadow: none;
    padding: 24px;
    margin-top: 0;
    margin-left: 0;
    flex-shrink: 1;
  }
}

.loginwebsiteLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginWebsiteLogo {
  width: 82px;
  height: 42px;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .loginWebsiteLogo {
    width: 78px;
    height: 40px;
  }
}

.loginWebsiteLogoName {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
  letter-spacing: 0px;
  text-align: center;
  color: #262626;
}

.usernameInputContainer {
  width: 360px;
  height: 64px;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 0;
}

@media (max-width: 768px) {
  .usernameInputContainer {
    max-width: 312px;
    height: 64px;
    margin-top: 36px;
  }
}

.passwordInputContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

label {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1%;
  color: #262626;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  label {
    font-weight: 700;
  }
}

input {
  height: 40px;
  border-radius: 2px;
  background-color: #eeeeee;
  padding-left: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0%;
  border: none;
  outline: none;
}

.loginButton {
  width: 360px;
  height: 40px;
  border-radius: 8px;
  background-color: #4094ef;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: none;
  outline: none;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .loginButton {
    max-width: 312px;
  }
}

.errorMsg {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ef4444;
  margin: 0;
  padding-top: 8px;
}
